body{
    background: linear-gradient(135deg, #0F2A38, #4A545E);
    color: #C7D5E0;    
    font-family: "Inter", sans-serif;
    background-attachment: fixed;
    margin: 0;
    padding: 20px;
    
}
header{
    text-align: center;
    margin-bottom: 40px;
}
a {
    font-family: "JetBrains Mono", monospace;
        color: #C7D5E0;
        text-decoration: none;
        font-style: italic;
}
h1{
    font-family: "Space Grotesk", sans-serif;
    color: #ffffff;
}
p{
    font-family: "Inter", sans-serif;
    color: #E5E7EB;
}
small{
    font-family: "Fira Sans", sans-serif;
    color: #C7D5E0;
    }
div.about-me {
    background-color: #1E2A38;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 40px;
    text-align: center;
    padding: auto;
    padding-right: 125px;
}
img.profile-pic {
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 20px;
    border-radius: 50%; 
    margin-bottom: 15px;    
}