body{
    background: linear-gradient(135deg, #0F2A38, #4A545E);
    color: #C7D5E0;    
    font-family: "Inter", sans-serif;
    background-attachment: fixed;
    margin: 0;
    padding: 20px;
    
}
header {
    display: grid;               
    grid-template-columns: 20% 40% 40%;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 20px;
    column-gap: 20px;
}

header img {
    width: 85px;
    height: 85px;
    border-radius: 12px;
    box-shadow: 0 0 14px   #4A545E;
}

header h1 {
    font-family: "Inter", sans-serif;
    color: #ffffff;
    margin: 0;
    text-decoration: underline;
    text-decoration-color: #4A545E;
    transition: all 0.3s ease-in-out;
}
header h1:hover {
    color: rgba(255, 255, 255, 0.05);
    text-shadow: 0px 0px 1px #E5E7EB;
}

header h3 {
    font-family: "Space Grotesk", sans-serif;
    color: #E5E7EB;
    margin: 0;
}

a {
    font-family: "JetBrains Mono", monospace;
        color: #C7D5E0;
        text-decoration: none;
        font-style: italic;
}
h1{
    font-family: "Space Grotesk", sans-serif;
    color: #ffffff;
}
p{
    font-family: "Inter", sans-serif;
    color: #E5E7EB;
}
small{
    font-family: "Fira Sans", sans-serif;
    color: #C7D5E0;
    }
div#about-me {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(3px);
    padding: 30px 40px;
    margin-bottom: 40px;
    margin-left: -20px;
    margin-right: -20px;
    border-radius: 14px;
}
#about-me h2 {
    align-self: center;
    font-family: "Space Grotesk", sans-serif;
    color: #FFFFFF;
    margin-top: 0;
}
.about-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
}
.card {
    background: rgba(15, 26, 40, 0.6);
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-4px);
}

.card h4 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #FFFFFF;
    font-family: "Space Grotesk", sans-serif;
}

.card p {
    margin: 0;
    color: #E5E7EB;
    font-family: "Inter", sans-serif;
    font-size: 0.95rem;
}
.projects-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 12px;
    margin-bottom: 50px;
}

.projects-table thead th {
    padding: 14px;
    text-align: left;
    font-family: "Space Grotesk", sans-serif;
    color: #E5E7EB;
    background: rgba(255, 255, 255, 0.08);
}

.projects-table tbody tr {
    background: rgba(255, 255, 255, 0.05);
    transition: 0.25s ease;
}

.projects-table tbody tr:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.projects-table td {
    padding: 16px;
    font-family: "Inter", sans-serif;
    color: #E5E7EB;
}

.projects-table td:first-child {
    font-weight: 600;
    border-radius: 10px 0 0 10px;
}

.projects-table td:last-child {
    border-radius: 0 10px 10px 0;
    color: #C7D5E0;
}
